# Existing

compile_commands.json
vim_rc
Config.json

[Bb]uild*
[Bb]in/
out/
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json
.vs/
*.pyc
.cache
.idea/
CMakeLists.txt.user
